<section class="container">

    <div class="control">
        <button class="button is-primary has-margin" (click)="novoRemedio()">Novo Remédio</button>
        <!-- <button class="button is-info" (click)="novaFarmacia()">Nova Farmácia</button> -->
    </div>

    <div class="control has-icons-right">
        <input class="input" type="text" placeholder="Pesquisar remédio..." (input)="pesquisar($event)">
        <span class="icon is-right">
            <i class="fa fa-search"></i>
        </span>
    </div>

    <ng-container *ngIf="remedios.length > 0; else loading">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td class="has-text-centered">Farmácias</td>
                    <td class="has-text-centered">Remover</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let remedio of remedios" (click)="editar(remedio)">
                    <td>{{ remedio.nome }}</td>
                    <td class="has-text-centered">
                        <a class="button is-info is-small" (click)="farmacias($event, remedio)">
                            <i class="fa fa-hospital-o fa-lg"></i>
                        </a>
                    </td>
                    <td class="has-text-centered">
                        <a class="button is-danger is-small" (click)="remover($event, remedio)">
                            <i class="fa fa-trash fa-lg"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-template #loading>
        Carregando...
    </ng-template>

</section>