<section class="container">
    <div>
        <button class="button" (click)="novoRemedio()">Novo Remédio</button>
        <button class="button is-success" (click)="novaFarmacia()">Nova Farmácia</button>
    </div>
    <ng-container *ngIf="(remedios | async) as lista; else loading">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Unidade</td>
                    <td class="has-text-centered">Remover</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let remedio of lista" (click)="farmacias(remedio)">
                    <td>{{ remedio.nome }}</td>
                    <td>{{ remedio.unidade }}</td>
                    <td class="has-text-centered">
                        <a class="button is-danger is-small" (click)="remover(remedio)">
                            <i class="fa fa-trash fa-lg"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-template #loading>
        Carregando...
    </ng-template>

</section>