<section class="container" style="max-width: 600px;">

    <div class="control side-margin">
        <button class="button has-margin-v is-warning is-inverted" (click)="cancelar()">
            <span class="icon">
                <i class="fa fa-chevron-left"></i>
            </span>
            <span>Voltar</span>
        </button>
    </div>

    <form class="form" (ngSubmit)="salvar()" [formGroup]="form">
        <div class="field">
            <label class="label">Nome *</label>
            <div class="control">
                <input type="text" class="input"
                    [ngClass]="{'is-primary': form.get('nome').valid, 'is-danger': form.get('nome').touched && form.get('nome').errors}"
                    required
                    formControlName="nome">
            </div>
            <p class="help is-danger"
                *ngIf="form.get('nome').touched && !form.get('nome').value">
                Campo obrigatório!
            </p>
        </div>

        <div class="field">
            <label class="label">E-mail *</label>
            <div class="control">
                <input type="text" class="input"
                    [ngClass]="{'is-primary': form.get('email').valid, 'is-danger': form.get('email').touched && form.get('email').errors}"
                    required
                    formControlName="email">
            </div>
            <p class="help is-danger"
                *ngIf="form.get('email').touched && !form.get('email').value">
                Campo obrigatório!
            </p>
            <p class="help is-danger"
                *ngIf="form.get('email').touched && form.get('email').value && form.get('email').errors">
                E-mail inválido!
            </p>
        </div>

        <div class="field">
            <label class="label">Permissão *</label>
            <div class="control has-icons-left">
                <div class="select"
                    [ngClass]="{'is-primary': form.get('permissao').valid, 'is-danger': form.get('permissao').touched && form.get('permissao').errors}">
                    <select formControlName="permissao" required>
                        <option value="farmaceutico">Farmacêutico</option>
                        <option value="administrador">Administrador</option>
                    </select>
                </div>
                <div class="icon is-small is-left">
                    <i class="fa fa-unlock-alt"></i>
                </div>
            </div>
            <p class="help is-danger"
                *ngIf="form.get('permissao').touched && !form.get('permissao').value">
                Campo obrigatório!
            </p>
        </div>

        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-light" (click)="cancelar()">
                    Cancelar
                </a>
            </p>
            <p class="control">
                <button type="submit" class="button is-warning"
                    [ngClass]="{'is-loading': isLoading}"
                    [disabled]="form.invalid || isLoading">
                    Salvar
                </button>
            </p>
        </div>
    </form>
</section>