@import '~variables.scss';

.load-container {
    width: 100%;
    height: 100%;
    min-height: 200px;
    @include flex-container;
    @include flex-alinhar-vertical;
    @include flex-alinhar-horizontal;

    /deep/.mat-progress-spinner circle,
    /deep/.mat-spinner circle {
        stroke: $azul;
    }
}