<section class="container side-margin">

    <div class="field">
        <label class="label">Farmácia</label>
        <div class="control" *ngIf="farmacias.length == 0">
            Carregando Farmácias ...
        </div>
        <div class="control" *ngIf="farmacias.length > 0">
            <div class="select is-primary">
                <select (change)="escolherFarmacia($event)">
                    <option *ngFor="let farmacia of farmacias" [value]="farmacia.id">{{ farmacia.nome }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="control">
        <button class="button is-primary has-margin-v is-inverted" (click)="editarRemedios()">
            <span class="icon">
                <i class="fa fa-pencil-square-o"></i>
            </span>
            <span>Editar Remédios</span>
        </button>
    </div>

    <div class="control has-icons-right">
        <input class="input" type="text" placeholder="Pesquisar remédio..." (input)="pesquisar($event)">
        <span class="icon is-right">
            <i class="fa fa-search"></i>
        </span>
    </div>


    <div class="control">
        <ng-container *ngIf="!isLoading; else loading">
            <ng-container *ngIf="remedios.length > 0; else notFound">
                <table id="table-remedios" class="table is-striped is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th class="has-text-centered" style="width: 130px;">Disponível</th>
                            <th>Remédio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let remedio of remedios">
                            <td class="has-text-centered">
                                <a class="button is-small" [ngClass]="{'is-primary': (farmaciaSelecionada.remedios && farmaciaSelecionada.remedios.includes(remedio.id))}"
                                    (click)="toggleDisponivel(remedio)">
                                    {{ (farmaciaSelecionada.remedios && farmaciaSelecionada.remedios.includes(remedio.id))
                                    ? 'Disponível' : 'Indisponível' }}
                                </a>
                            </td>
                            <td>{{ remedio.nome }}</td>
                        </tr>
                    </tbody>
                </table>
                    
                <ng-container *ngIf="totalPages > 1">
                    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                        <button class="pagination-previous"
                            [disabled]="currentPage == 1"
                            (click)="anterior()">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button class="pagination-next"
                            [disabled]="currentPage == totalPages"
                            (click)="proximo()">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                        <ul class="pagination-list">
                            <li *ngFor="let page of pages">
                                <a class="pagination-link"
                                    [ngClass]="{'is-current': currentPage == page}"
                                    (click)="ir(page)">{{ page }}</a>
                            </li>
                        </ul>
                    </nav>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-template #notFound>
            <div class="column has-text-centered" style="padding: 20px 0;">
                <p class="title is-4 has-text-grey" style="margin-bottom: 5px">
                    Nenhum remédio encontrado
                </p>
                <i class="fa fa-frown-o fa-4x has-text-grey"></i>
            </div>
        </ng-template>

        <ng-template #loading>
            <div class="column has-text-centered" style="padding: 20px 0;">
                <p class="title is-4 has-text-grey" style="margin-bottom: 5px">
                    Carregando
                </p>
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </ng-template>
    </div>

</section>