<section class="container">

    <div>
        <h1>{{ farmacia.nome }}</h1>
    </div>

    <div class="control has-icons-right has-margin">
        <input class="input" type="text" placeholder="Pesquisar farmácia..." (input)="pesquisar($event)">
        <span class="icon is-right">
            <i class="fa fa-search"></i>
        </span>
    </div>

    <ng-container *ngIf="remedios.length; else loading">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <td>Possui</td>
                    <td>Remédio</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let remedio of remedios">
                    <td>
                        <a class="button is-small" (click)="togglePossui(remedio)">
                            {{ (remedio.farmacias && remedio.farmacias.includes(farmacia.id) ? 'Sim' : 'Não') }}
                        </a>
                    </td>
                    <td>{{ remedio.nome }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-template #loading>
        Carregando...
    </ng-template>

</section>