<section class="container">

    <div>
        <h2>{{ usuario.nome }}</h2>
        <h3>{{ usuario.email }}</h3>
    </div>

    <div class="control has-icons-right has-margin">
        <input class="input" type="text" placeholder="Pesquisar farmácia..." (input)="pesquisar($event)">
        <span class="icon is-right">
            <i class="fa fa-search"></i>
        </span>
    </div>

    <ng-container *ngIf="farmacias.length; else loading">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <td>Colaborador</td>
                    <td>Farmácia</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let farmacia of farmacias">
                    <td>
                        <a class="button is-small" (click)="toggleColaborador(farmacia)">
                            {{ (usuario.farmacias && usuario.farmacias.indexOf(farmacia.id) > -1 ? 'Sim' : 'Não') }}
                        </a>
                    </td>
                    <td>{{ farmacia.nome }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-template #loading>
        Carregando...
    </ng-template>

</section>