<section class="container">

    <div class="control side-margin">
        <button class="button is-warning has-margin-v is-inverted" (click)="novoUsuario()">
            <span class="icon">
                <i class="fa fa-plus"></i>
            </span>
            <span>Novo Usuário</span>
        </button>
    </div>

    <div class="control has-icons-right side-margin">
        <input class="input" type="text" placeholder="Pesquisar usuário..." (input)="pesquisar($event)">
        <span class="icon is-right">
            <i class="fa fa-search"></i>
        </span>
    </div>


    <div class="control side-margin">
        <ng-container *ngIf="!isLoading; else loading">
            <ng-container *ngIf="usuarios.length > 0; else notFound">
                <table id="table-usuarios" class="table is-striped is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Usuário</th>
                            <th class="has-text-centered">E-mail</th>
                            <th class="has-text-centered">Permissão</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>{{ usuario.nome }}</td>
                            <td class="has-text-centered">{{ usuario.email }}</td>
                            <td class="has-text-centered">{{ usuario.permissao }}</td>
                            <td class="has-text-centered" style="width: 275px;">
                                    <a class="button is-info is-small" (click)="editarFarmacias(usuario)">
                                        <span class="icon">
                                            <i class="fa fa-hospital-o fa-lg"></i>
                                        </span>
                                        <span>Farmácias</span>
                                    </a>
                                <a class="button is-small" (click)="editarUsuario(usuario)">
                                    <span class="icon">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </span>
                                    <span>Editar</span>
                                </a>
                                <a class="button is-danger is-small" (click)="excluirUsuario(usuario)">
                                    <span class="icon">
                                        <i class="fa fa-trash"></i>
                                    </span>
                                    <span>Excluir</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ng-container *ngIf="totalPages > 1">
                    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                        <button class="pagination-previous"
                            [disabled]="currentPage == 1"
                            (click)="anterior()">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button class="pagination-next"
                            [disabled]="currentPage == totalPages"
                            (click)="proximo()">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                        <ul class="pagination-list">
                            <li *ngFor="let page of pages">
                                <a class="pagination-link"
                                    [ngClass]="{'is-current': currentPage == page}"
                                    (click)="ir(page)">
                                    {{ page }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-template #notFound>
            <div class="column has-text-centered" style="padding: 20px 0;">
                <p class="title is-4 has-text-grey" style="margin-bottom: 5px">
                    Nenhum usuário encontrado
                </p>
                <i class="fa fa-frown-o fa-4x has-text-grey"></i>
            </div>
        </ng-template>

        <ng-template #loading>
            <div class="column has-text-centered" style="padding: 20px 0;">
                <p class="title is-4 has-text-grey" style="margin-bottom: 5px">
                    Carregando
                </p>
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </ng-template>
    </div>

</section>