<section class="container" style="max-width: 600px;">

    <div class="control side-margin">
        <button class="button has-margin-v is-primary is-inverted" (click)="cancelar()">
            <span class="icon">
                <i class="fa fa-chevron-left"></i>
            </span>
            <span>Voltar</span>
        </button>
    </div>

    <form class="form" (ngSubmit)="salvar()" [formGroup]="form">
        <div class="field">
            <label class="label">Nome Comercial</label>
            <div class="control">
                <input type="text"
                    class="input"
                    [ngClass]="{'is-primary': form.get('nome').valid, 'is-danger': form.get('nome').touched && form.get('nome').errors}"
                    placeholder="Paracetamol"
                    formControlName="nome" required>
            </div>
            <p class="help is-danger"
                *ngIf="form.get('nome').touched && !form.get('nome').value">
                Campo obrigatório!
            </p>
        </div>

        <div class="field">
            <label class="label">Denominação Genérica (princípio ativo)</label>
            <div class="control">
                <input type="text"
                    class="input"
                    [ngClass]="{'is-primary': form.get('principio').value}"
                    placeholder="Ácido Acetilsalicílico"
                    formControlName="principio">
            </div>
        </div>

        <div class="field">
            <label class="label">Composição / Concentração</label>
            <div class="control">
                <input type="text"
                    class="input"
                    [ngClass]="{'is-primary': form.get('concentracao').valid, 'is-danger': form.get('concentracao').touched && form.get('concentracao').errors}"
                    placeholder="500 mg"
                    formControlName="concentracao" required>
            </div>
            <p class="help is-danger"
                *ngIf="form.get('concentracao').touched && !form.get('concentracao').value">
                Campo obrigatório!
            </p>
        </div>

        <div class="field">
            <label class="label">Forma Farmacêutica</label>
            <div class="control has-icons-left">
                <div class="select"
                    [ngClass]="{'is-primary': form.get('forma').valid, 'is-danger': form.get('forma').touched && form.get('forma').errors}">
                    <select formControlName="forma" required>
                        <option *ngFor="let tipo of tiposRemedios" [value]="tipo.nome">{{ tipo.nome }}</option>
                    </select>
                </div>
                <div class="icon is-small is-left">
                    <i class="fa fa-flask"></i>
                </div>
            </div>
            <p class="help is-danger"
                *ngIf="form.get('forma').touched && !form.get('forma').value">
                Campo obrigatório!
            </p>
        </div>

        <div class="field">
            <label class="label">Descrição</label>
            <div class="control">
                <textarea class="textarea"
                    placeholder="Aqui vai a descrição do remédio..."
                    [ngClass]="{'is-primary': form.get('descricao').value}"
                    formControlName="descricao"></textarea>
            </div>
        </div>

        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-light" (click)="cancelar()">
                    Cancelar
                </a>
            </p>
            <p class="control">
                <button type="submit" class="button is-primary"
                    [ngClass]="{'is-loading': isLoading}"
                    [disabled]="form.invalid || isLoading">
                    Salvar
                </button>
            </p>
        </div>
    </form>
</section>