<section class="container">
    <div class="field">
        <label class="label is-medium">Nome do medicamento</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-medium" type="email" placeholder="Extra small">
            <span class="icon is-small is-left">
                <i class="fa fa-envelope fa-xs"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fa fa-check fa-xs"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label is-medium">Unidade</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-medium" type="email" placeholder="Small">
            <span class="icon is-left">
                <i class="fa fa-envelope fa-sm"></i>
            </span>
            <span class="icon is-right">
                <i class="fa fa-check fa-sm"></i>
            </span>
        </div>
    </div>

    <div class="field is-grouped is-grouped-right">
        <p class="control">
            <a class="button is-light">
                Cancelar
            </a>
        </p>
        <p class="control">
            <a class="button is-primary">
                Salvar
            </a>
        </p>
    </div>
</section>