<div>

    <!-- BANNER -->
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container">

                <a class="button is-primary is-inverted is-outlined" (click)="home()">
                    <span class="icon">
                        <i class="fa fa-chevron-left"></i>
                    </span>
                    <span>Início</span>
                </a>
                <h1 class="title">
                    Acesso Restrito
                </h1>
                <h2 class="subtitle">
                    Permitido apenas para usuários autorizados.
                </h2>

            </div>
        </div>
    </section>
    <!-- end BANNER -->

    <section class="container" style="max-width: 450px;">
        <form class="form" (ngSubmit)="logar()" [formGroup]="formularioLogin">

            <div class="field">
                <label class="label">E-mail</label>
                <div class="control has-icons-left has-icons-right">
                    <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                    </span>

                    <input type="text" class="input"
                        placeholder="Digite o e-mail"
                        [ngClass]="{'is-primary': formularioLogin.get('email').valid, 'is-danger': formularioLogin.get('email').touched && formularioLogin.get('email').errors}"
                        formControlName="email" required/>

                    <span class="icon is-small is-right"
                        *ngIf="formularioLogin.get('email').value && formularioLogin.get('email').invalid">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="icon is-small is-right"
                        *ngIf="formularioLogin.get('email').valid">
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <p class="help is-danger"
                    *ngIf="formularioLogin.get('email').touched && !formularioLogin.get('email').value">
                    Campo obrigatório!
                </p>
                <p class="help is-danger"
                    *ngIf="formularioLogin.get('email').touched && formularioLogin.get('email').value && formularioLogin.get('email').errors">
                    E-mail inválido!
                </p>
            </div>

            <div class="field">
                <label class="label">Senha</label>
                <div class="control has-icons-left has-icons-right">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>

                    <input type="password" class="input"
                        placeholder="Digite a senha"
                        [ngClass]="{'is-primary': formularioLogin.get('senha').valid, 'is-danger': formularioLogin.get('senha').touched && formularioLogin.get('senha').errors}"
                        formControlName="senha" required/>

                    <span class="icon is-small is-right"
                        *ngIf="formularioLogin.get('senha').valid">
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <p class="help is-danger"
                    *ngIf="formularioLogin.get('senha').touched && !formularioLogin.get('senha').value">
                    Campo obrigatório!
                </p>
            </div>

            <div class="field">
                <p class="control has-text-centered">
                    <button type="submit" class="button is-fullwidth is-warning"
                        [ngClass]="{'is-loading': isLoading}"
                        [disabled]="formularioLogin.invalid || isLoading">
                        Entrar
                    </button>
                </p>
                <p class="control has-text-centered" style="margin-top: 25px;">
                    <a href="redefinir-senha">Esqueci a Senha!</a>
                </p>
                <p class="control has-text-centered">
                    <a href="redefinir-senha">Ainda não tenho senha!</a>
                </p>
            </div>
        </form>
    </section>

</div>