<section class="container">
    <form class="form">
        <div class="field">
            <label class="label is-medium">Usuário ou E-mail</label>
            <div class="control">
                <input type="text" name="login" class="input is-medium" [(ngModel)]="usuario.login">
            </div>
        </div>
    
        <div class="field">
            <label class="label is-medium">Senha</label>
            <div class="control">
                <input type="password" name="senha" class="input is-medium" [(ngModel)]="usuario.senha">
            </div>
        </div>
    
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-medium is-light" (click)="cancelar()">
                    Cancelar
                </a>
            </p>
            <p class="control">
                <a class="button is-medium is-primary" (click)="logar(usuario)">
                    Logar
                </a>
            </p>
        </div>
    </form>
</section>