<section class="container">

    <div class="control side-margin">
        <button class="button is-info has-margin-v is-inverted" (click)="novaFarmacia()">
            <span class="icon">
                <i class="fa fa-plus"></i>
            </span>
            <span>Nova Farmácia</span>
        </button>
    </div>

    <div class="control has-icons-right side-margin">
        <input class="input" type="text" placeholder="Pesquisar farmácia..." (input)="pesquisar($event)">
        <span class="icon is-right">
            <i class="fa fa-search"></i>
        </span>
    </div>


    <div class="control side-margin">
        <ng-container *ngIf="farmacias.length; else loading">
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="has-text-centered">Editar | Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let farmacia of farmacias">
                        <td>{{ farmacia.nome }}</td>
                        <td class="has-text-centered">
                            <a class="button is-light is-small" (click)="editar(farmacia)">
                                <i class="fa fa-pencil-square-o fa-lg"></i>
                            </a>
                            <a class="button is-danger is-small" (click)="remover($event, farmacia)">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
                
            <ng-container *ngIf="totalPages > 1">
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    <button class="pagination-previous"
                        [disabled]="currentPage == 1"
                        (click)="anterior()">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                    <button class="pagination-next"
                        [disabled]="currentPage == totalPages"
                        (click)="proximo()">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                    <ul class="pagination-list">
                        <li *ngFor="let page of pages">
                            <a class="pagination-link"
                                [ngClass]="{'is-current': currentPage == page}"
                                (click)="ir(page)">{{ page }}</a>
                        </li>
                    </ul>
                </nav>
            </ng-container>
        </ng-container>

        <ng-template #loading>
            Carregando...
        </ng-template>
    </div>

</section>