<section class="container">

    <div class="control side-margin">
        <button class="button is-info has-margin-v is-inverted" (click)="novaFarmacia()">
            <span class="icon">
                <i class="fa fa-plus"></i>
            </span>
            <span>Nova Farmácia</span>
        </button>
    </div>

    <div class="control has-icons-right side-margin">
        <input class="input" type="text" placeholder="Pesquisar farmácia..." (input)="pesquisar($event)">
        <span class="icon is-right">
            <i class="fa fa-search"></i>
        </span>
    </div>


    <div class="control side-margin">
        <ng-container *ngIf="!isLoading; else loading">
            <ng-container *ngIf="farmacias.length; else notFound">
                <table id="table-farmacias" class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th>Farmácias</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let farmacia of farmacias">
                            <td>{{ farmacia.nome }}</td>
                            <td class="has-text-centered" style="width: 185px;">
                                <a class="button is-small" (click)="editar(farmacia)">
                                    <span class="icon">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </span>
                                    <span>Editar</span>
                                </a>
                                <a class="button is-danger is-small" (click)="remover($event, farmacia)">
                                    <span class="icon">
                                        <i class="fa fa-trash"></i>
                                    </span>
                                    <span>Excluir</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                    
                <ng-container *ngIf="totalPages > 1">
                    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                        <button class="pagination-previous"
                            [disabled]="currentPage == 1"
                            (click)="anterior()">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button class="pagination-next"
                            [disabled]="currentPage == totalPages"
                            (click)="proximo()">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                        <ul class="pagination-list">
                            <li *ngFor="let page of pages">
                                <a class="pagination-link"
                                    [ngClass]="{'is-current': currentPage == page}"
                                    (click)="ir(page)">{{ page }}</a>
                            </li>
                        </ul>
                    </nav>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-template #notFound>
            <div class="column has-text-centered" style="padding: 20px 0;">
                <p class="title is-4 has-text-grey" style="margin-bottom: 5px">
                    Nenhuma farmácia encontrada
                </p>
                <i class="fa fa-frown-o fa-4x has-text-grey"></i>
            </div>
        </ng-template>

        <ng-template #loading>
            <div class="column has-text-centered" style="padding: 20px 0;">
                <p class="title is-4 has-text-grey" style="margin-bottom: 5px">
                    Carregando
                </p>
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </ng-template>
    </div>

</section>