.modal-card {
    max-width: 475px;
}

.modal-card-head {
    padding: 8px 15px;

    .modal-card-title {
        font-size: 18px;
    }
}

.modal-card-body {
    padding: 10px 20px 15px;
    font-size: 16px;
}

.modal-card-foot {
    padding: 3px;
    justify-content: flex-end;

    button {
        min-width: 90px;
    }
}