<div>
    <!-- BANNER -->
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">

                <a class="button is-primary" (click)="home()">
                    <span class="icon">
                        <i class="fa fa-chevron-left"></i>
                    </span>
                    <span>Home</span>
                </a>

                <h1 class="title">
                    {{ remedio.nome }}
                </h1>

                <h1 class="subtitle">
                    Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.
                    Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum. Viva Forevis aptent
                    taciti sociosqu ad litora torquent. Manduma pindureta quium dia nois paga.
                </h1>
            </div>
        </div>
    </section>
    <!-- end BANNER -->

    <section class="container resultado">

        <ng-container *ngIf="farmacias.length > 0">

            <div class="columns is-multiline">
                <div class="column is-half-tablet is-one-third-desktop" *ngFor="let farmacia of farmacias">

                    <div class="card">
                        <div class="card-content">
                            <div class="media">

                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="assets/img/icons/farmacia-256x256.png" alt="Placeholder image">
                                    </figure>
                                </div>

                                <div class="media-content">
                                    <p class="title is-6">{{ farmacia.nome }}</p>
                                    <p class="subtitle is-6">
                                        {{ (farmacia.remedios && farmacia.remedios.indexOf(remedio.id) >= 0) ? 'Disponível' : 'Indisponível' }}
                                        <a [href]="'tel:' + farmacia.telefone">{{ farmacia.telefone }}</a>
                                        <br/>
                                        <a [href]="'https://www.google.com/maps/search/?api=1&query=' + farmacia.endereco + ', ' + farmacia.bairro" target="_blank">{{ farmacia.endereco + ', ' + farmacia.bairro }}</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </ng-container>

        <ng-template #loading>
            Carregando...
        </ng-template>

    </section>
</div>