<section class="container">
    <div class="tabs">
        <ul>
            <li routerLinkActive="is-active">
                <a class="remedios" routerLink="remedios">Remédios</a>
            </li>
            <li routerLinkActive="is-active">
                <a class="farmacias" routerLink="farmacias">Farmácias</a>
            </li>
            <li routerLinkActive="is-active">
                <a class="usuarios" routerLink="usuarios">Usuários</a>
            </li>
        </ul>
    </div>
</section>
<router-outlet></router-outlet>