@import '~bulma';

.resultado .columns {
    margin: auto;

    .column {
        padding: .3rem;

        
        .card {
            cursor: pointer;
            border-radius: 4px;

            .card-content {
                padding: .8rem;
            }
        }
    }
}