<section class="hero is-primary is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-4">
                Remédios BV
            </h1>
            <h2 class="subtitle is-6">
                Ainda não encontrou seu remédio?
            </h2>
            <form (ngSubmit)="buscar($event.target.elements[0].value)">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input is-medium" type="text" placeholder="Digite aqui o remédio que procura" (input)="autocompletar($event)">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-medium">
                            <span class="icon">
                                <i class="fa fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <nav class="panel painel-completes" *ngIf="autocompletes.length > 0">
                    <a class="panel-block" *ngFor="let complete of autocompletes" (click)="buscar(complete.nome + ' ' + complete.concentracao)">
                        {{ complete.nome + ' ' + complete.concentracao }}
                    </a>
                </nav>
            </form>
        </div>
    </div>
</section>