<div>
    <section class="hero is-primary is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-4">
                    Remédios BV
                </h1>
                <h2 class="subtitle is-6">
                    Ainda não encontrou seu remédio?
                </h2>
                <form (ngSubmit)="buscar($event.target.elements[0].value)">
                    <div class="field has-addons">
                        <div class="control grow-1">
                            <input class="input is-medium" type="text"
                                placeholder="Digite aqui o remédio que procura"
                                (input)="autocompletar($event)"
                                [(ngModel)]="busca"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-medium">
                                <span class="icon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <nav class="panel painel-completes" *ngIf="autocompletes.length > 0">
                        <a class="panel-block" *ngFor="let complete of autocompletes" (click)="buscar(complete.nome + ' ' + complete.concentracao)">
                            {{ complete.nome + ' ' + complete.concentracao }}
                        </a>
                    </nav>
                </form>
            </div>
        </div>
    </section>



    <section class="container resultado">

        <div class="columns is-multiline">
            <ng-container *ngIf="remedios.length > 0; else loading">
                <div class="column is-half-tablet is-one-third-desktop" *ngFor="let remedio of remedios">

                    <div class="card" (click)="escolher(remedio)">
                        <div class="card-content">
                            <div class="media">

                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="assets/img/icons/remedio-256x256.png" alt="ícone">
                                    </figure>
                                </div>

                                <div class="media-content">
                                    <p class="title is-6">{{ remedio.nome }}</p>
                                    <p class="subtitle is-6">
                                        <i class="fa fa-eyedropper"></i>
                                        {{ remedio.concentracao }}
                                        <br/>
                                        <i class="fa fa-flask"></i>
                                        {{ remedio.forma }}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </ng-container>
        </div>

        <ng-template #loading>
            <div class="column has-text-centered" style="padding: 20px 0;">
                <p class="title is-4 has-text-grey" style="margin-bottom: 5px">
                    Carregando
                </p>
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </ng-template>

    </section>
</div>