.hero .hero-body {
    padding: 1.5rem;
    padding-bottom: 3rem;

    .subtitle {
        margin-bottom: .5rem;
    }

    .grow-1 {
        flex-grow: 1;
    }

    .painel-completes {
        position: absolute;
        width: 100%;
        margin-top: -.6rem;
        color: #555;
        background: #fff;
        z-index: 1;
    }
}